<div class="container table-responsive" *ngIf="repositories">
  <div class="card">
    <div class="card-header bg-primary text-white"> 
      <h1>Repositories</h1>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Repo name</th>
            <th scope="col">Description</th>
            <th scope="col">Forks</th>
            <th scope="col">Watchers</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="">{{repositories.items[0].full_name}}</a></td>
            <td>{{repositories.items[0].description}}</td>
            <td>{{repositories.items[0].forks}}</td>
            <td>{{repositories.items[0].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[1].full_name}}</td>
            <td>{{repositories.items[1].description}}</td>
            <td>{{repositories.items[1].forks}}</td>
            <td>{{repositories.items[1].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[2].full_name}}</td>
            <td>{{repositories.items[2].description}}</td>
            <td>{{repositories.items[2].forks}}</td>
            <td>{{repositories.items[2].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[3].full_name}}</td>
            <td>{{repositories.items[3].description}}</td>
            <td>{{repositories.items[3].forks}}</td>
            <td>{{repositories.items[3].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[4].full_name}}</td>
            <td>{{repositories.items[4].description}}</td>
            <td>{{repositories.items[4].forks}}</td>
            <td>{{repositories.items[4].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[5].full_name}}</td>
            <td>{{repositories.items[5].description}}</td>
            <td>{{repositories.items[5].forks}}</td>
            <td>{{repositories.items[5].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[6].full_name}}</td>
            <td>{{repositories.items[6].description}}</td>
            <td>{{repositories.items[6].forks}}</td>
            <td>{{repositories.items[6].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[7].full_name}}</td>
            <td>{{repositories.items[7].description}}</td>
            <td>{{repositories.items[7].forks}}</td>
            <td>{{repositories.items[7].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[8].full_name}}</td>
            <td>{{repositories.items[8].description}}</td>
            <td>{{repositories.items[8].forks}}</td>
            <td>{{repositories.items[8].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[9].full_name}}</td>
            <td>{{repositories.items[9].description}}</td>
            <td>{{repositories.items[9].forks}}</td>
            <td>{{repositories.items[9].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[10].full_name}}</td>
            <td>{{repositories.items[10].description}}</td>
            <td>{{repositories.items[10].forks}}</td>
            <td>{{repositories.items[10].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[11].full_name}}</td>
            <td>{{repositories.items[11].description}}</td>
            <td>{{repositories.items[11].forks}}</td>
            <td>{{repositories.items[11].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[12].full_name}}</td>
            <td>{{repositories.items[12].description}}</td>
            <td>{{repositories.items[12].forks}}</td>
            <td>{{repositories.items[12].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[13].full_name}}</td>
            <td>{{repositories.items[13].description}}</td>
            <td>{{repositories.items[13].forks}}</td>
            <td>{{repositories.items[13].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[14].full_name}}</td>
            <td>{{repositories.items[14].description}}</td>
            <td>{{repositories.items[14].forks}}</td>
            <td>{{repositories.items[14].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[15].full_name}}</td>
            <td>{{repositories.items[15].description}}</td>
            <td>{{repositories.items[15].forks}}</td>
            <td>{{repositories.items[15].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[16].full_name}}</td>
            <td>{{repositories.items[16].description}}</td>
            <td>{{repositories.items[16].forks}}</td>
            <td>{{repositories.items[16].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[17].full_name}}</td>
            <td>{{repositories.items[17].description}}</td>
            <td>{{repositories.items[17].forks}}</td>
            <td>{{repositories.items[17].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[18].full_name}}</td>
            <td>{{repositories.items[18].description}}</td>
            <td>{{repositories.items[18].forks}}</td>
            <td>{{repositories.items[18].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[19].full_name}}</td>
            <td>{{repositories.items[19].description}}</td>
            <td>{{repositories.items[19].forks}}</td>
            <td>{{repositories.items[19].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[20].full_name}}</td>
            <td>{{repositories.items[20].description}}</td>
            <td>{{repositories.items[20].forks}}</td>
            <td>{{repositories.items[20].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[21].full_name}}</td>
            <td>{{repositories.items[22].description}}</td>
            <td>{{repositories.items[22].forks}}</td>
            <td>{{repositories.items[22].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[23].full_name}}</td>
            <td>{{repositories.items[23].description}}</td>
            <td>{{repositories.items[23].forks}}</td>
            <td>{{repositories.items[23].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[24].full_name}}</td>
            <td>{{repositories.items[24].description}}</td>
            <td>{{repositories.items[24].forks}}</td>
            <td>{{repositories.items[24].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[25].full_name}}</td>
            <td>{{repositories.items[25].description}}</td>
            <td>{{repositories.items[25].forks}}</td>
            <td>{{repositories.items[25].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[26].full_name}}</td>
            <td>{{repositories.items[26].description}}</td>
            <td>{{repositories.items[26].forks}}</td>
            <td>{{repositories.items[26].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[27].full_name}}</td>
            <td>{{repositories.items[27].description}}</td>
            <td>{{repositories.items[27].forks}}</td>
            <td>{{repositories.items[27].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[28].full_name}}</td>
            <td>{{repositories.items[28].description}}</td>
            <td>{{repositories.items[28].forks}}</td>
            <td>{{repositories.items[28].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[29].full_name}}</td>
            <td>{{repositories.items[29].description}}</td>
            <td>{{repositories.items[29].forks}}</td>
            <td>{{repositories.items[29].watchers}}</td>
          </tr>
          <tr>
            <td>{{repositories.items[30].full_name}}</td>
            <td>{{repositories.items[30].description}}</td>
            <td>{{repositories.items[30].forks}}</td>
            <td>{{repositories.items[30].watchers}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>