<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-light text black">
                    Github-Search
                </div>
                <div class="card-body">
                    <form class="form-inline" (submit)="searchUser()">
                        <div class="form-group">
                            <input name="user" ([ngModel])="userQuery" type="search" class="form-control" placeholder="enter username">
                        </div>
                        <div>
                            <input type="submit" value="search" class="btn btn-info">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>