<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-light text black">
                    Github-Search
                </div>
                <div class="card-body">
                    <form class="form-inline" (submit)="searchUser()">
                        <div class="form-group">
                            <input  type="search" class="form-control" name="user" [(ngModel)]="userQuery" placeholder="enter username">
                        </div>
                        <div>
                            <input type="submit" value="search" class="btn btn-info">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-user-profile [userProfile]="userProfile"></app-user-profile>
        </div>
    </div>
    <div class="row">
            <app-projects [userProjects]="userProjects"></app-projects>
    </div>
</div>